
<!DOCTYPE HTML>

<html>

<head>
	<meta charset="utf-8">
	<title>Liu.Shatle</title>
	<meta name="author" content="liu.shatle &hearts; gmail.com">

	
	<meta name="description" content="Reset My Octopress config, git, octopress 2014-10-20 Comments 好久不写东西了，上来看了自己的github，空了好长的时间。 之前电脑重装，之前的项目已经不在了。重新的时候只是将md文件备份，其它的样式都没有备份。 &hellip;">
	

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="" rel="alternate" title="Liu.Shatle" type="application/atom+xml">
	
	<link rel="canonical" href="http://shatle.github.io/page4/">
	<link href="/favicon.png" rel="shortcut icon">
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	
  

</head>


<body>
	<div class="container">
		<div class="left-col">
			<div class="intrude-less">
			<header id="header" class="inner"><div class="profilepic">
	<img src="https://avatars1.githubusercontent.com/u/1129872?v=3&s=460" alt="Profile Picture" style="width: 160px;" />
</div>

<nav id="main-nav"><ul class="main">
    <li><a href="/">Blog</a></li>
    <li><a href="/blog/archives">Archives</a></li>
    <li><a href="/author">Author</a></li>
</ul>
</nav>
<nav id="sub-nav">
	<div class="social">
		
		
		
		
		
			<a class="github" href="https://github.com/shatle" title="GitHub">GitHub</a>
		
		
		
		
		
		
		
		
		
		
    	
    	
	</div>
</nav>
</header>				
			</div>
		</div>	
		<div class="mid-col">
			
				
			
			<div class="mid-col-container">
				<div id="content" class="inner">
<div itemscope itemtype="http://schema.org/Blog">


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2014/10/20/reset-my-octopress/" itemprop="url">Reset My Octopress</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/config/'>config</a>, <a class='category' href='/blog/categories/git/'>git</a>, <a class='category' href='/blog/categories/octopress/'>octopress</a>


</div>
		<div class="date">







  


<time datetime="2014-10-20T00:00:00+08:00" data-updated="true" itemprop="datePublished">2014-10-20</time></div>

		
			<span class="comments"><a href="/blog/2014/10/20/reset-my-octopress/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<p>好久不写东西了，上来看了自己的github，空了好长的时间。</p>

<p>之前电脑重装，之前的项目已经不在了。重新的时候只是将md文件备份，其它的样式都没有备份。所以不得不重新抽时间折腾了。</p>

<p>很简单，直接走octopress的流程就可以了。二货的我（突然想到今天电影《银河战队》的foreigner说二货有点搞，中国市场真心大啊）将github地址搞错了，以为将<code>.git/config</code>的remote改了就可以了，不然，其实要修改的是<code>_deploy/.git/config</code>。下次记住了。</p>

<p>之前正确使用这工具，没有那么傻的事情，突然傻一回，反而搞懂了其大致的原理。</p>

<p>我还对样式进行了修改，最近迷上了紫色，主题颜色打紫了。</p>

<p>充数了，睡觉。</p>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2014/03/11/refresh-in-simple-captcha/" itemprop="url">Refresh in Simple_captcha</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/refresh/'>refresh</a>, <a class='category' href='/blog/categories/simple-captcha/'>simple_captcha</a>


</div>
		<div class="date">







  


<time datetime="2014-03-11T00:00:00+08:00" data-updated="true" itemprop="datePublished">2014-03-11</time></div>

		
			<span class="comments"><a href="/blog/2014/03/11/refresh-in-simple-captcha/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<p>对于登录，为了防止机器人，部分网站需要配合验证码进行登录。常用的Gem有 recaptcha 和 simple_captcha。</p>

<p>下面简要描写一下，我的使用过程。项目是在他人的基础上修改的，他人已经使用 simple_captcha 提供了验证码登录的功能。但是没有刷新的按键功能。</p>

<p>对于“无刷新的验证码”登录功能，可以参考 <a href="https://github.com/galetahub/simple-captcha">https://github.com/galetahub/simple-captcha</a>。 以下是添加刷新功能的过程。</p>

<p>原代码中，登录页面的views代码为：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='erb'><span class='line'><span class="cp">&lt;%=</span> <span class="n">show_simple_captcha</span><span class="p">(</span><span class="ss">:distortion</span> <span class="o">=&gt;</span> <span class="s1">&#39;high&#39;</span><span class="p">,</span><span class="ss">:image_style</span> <span class="o">=&gt;</span> <span class="s1">&#39;simply_green&#39;</span><span class="p">)</span> <span class="cp">%&gt;</span><span class="x"></span>
</span></code></pre></td></tr></table></div></figure>


<p>此代码会自动添加输入框和验证码图片，其中的参数可以参考之前 github 项目链接。</p>

<p>需要添加刷新功能，就添加按钮：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='erb'><span class='line'><span class="cp">&lt;%=</span> <span class="n">show_simple_captcha</span><span class="p">(</span><span class="ss">:distortion</span> <span class="o">=&gt;</span> <span class="s1">&#39;high&#39;</span><span class="p">,</span><span class="ss">:image_style</span> <span class="o">=&gt;</span> <span class="s1">&#39;simply_green&#39;</span><span class="p">)</span> <span class="cp">%&gt;</span><span class="x"></span>
</span><span class='line'><span class="x">&lt;div class=&quot;refresh_simple_captcha&quot;&gt;</span>
</span><span class='line'><span class="x">    &lt;a href=&quot;javascript:;&quot;&gt;点击刷新验证码&lt;/a&gt;</span>
</span><span class='line'><span class="x">&lt;/div&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>通过观察，页面中的验证码图片的链接值：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;http://127.0.0.1:3000/simple_captcha/simple_captcha?distortion=high&amp;amp;image_style=simply_green&amp;amp;simple_captcha_key=9e02709d78e964e4802b6b56937cdc63a45eac87&amp;amp;time=1394527382&quot;</span> <span class="na">alt=</span><span class="s">&quot;simple_captcha.jpg&quot;</span><span class="nt">&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>可以看到有四个参数值，包括：distortion, image_style, simple_captcha_key, time.</p>

<p>从资源的链接值中，可以试图简单并直接去改变time的值。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="kd">var</span> <span class="nx">src</span> <span class="o">=</span> <span class="nx">$</span><span class="p">(</span><span class="s1">&#39;#simple_captcha img&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s1">&#39;src&#39;</span><span class="p">).</span><span class="nx">split</span><span class="p">(</span><span class="s1">&#39;time=&#39;</span><span class="p">)</span><span class="o">+</span><span class="s1">&#39;time=&#39;</span><span class="o">+</span><span class="p">(</span><span class="k">new</span> <span class="nb">Date</span><span class="p">()).</span><span class="nx">valueOf</span><span class="p">();</span>
</span><span class='line'><span class="nx">$</span><span class="p">(</span><span class="s1">&#39;#simple_captcha img&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s1">&#39;src&#39;</span><span class="p">,</span> <span class="nx">src</span><span class="p">);</span>
</span></code></pre></td></tr></table></div></figure>


<p>这个方案或许能够改变，但是字符还是那几个；甚至，可能没有发生变化。可以想象一下其它的参数，毕竟是刷新吧，可以将distortion=low了，提升一下差别特性。</p>

<hr />

<p>那么，如果想进一步，如何使得字符也改变呢？</p>

<p>需要添加额外的接口，</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class='ruby'><span class='line'><span class="k">class</span> <span class="nc">SimpleCaptchaController</span> <span class="o">&lt;</span> <span class="no">ActionController</span><span class="o">::</span><span class="no">Base</span>
</span><span class='line'>  <span class="k">def</span> <span class="nf">update_simple_captcha</span>
</span><span class='line'>    <span class="n">render</span> <span class="ss">:layout</span> <span class="o">=&gt;</span> <span class="kp">false</span>
</span><span class='line'>  <span class="k">end</span>
</span><span class='line'><span class="k">end</span>
</span></code></pre></td></tr></table></div></figure>


<p>添加 views/simple_captcha/update_simple_captcha.erb 文件，</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='erb'><span class='line'><span class="cp">&lt;%=</span><span class="n">raw</span> <span class="n">show_simple_captcha</span><span class="p">(</span><span class="ss">:distortion</span> <span class="o">=&gt;</span> <span class="s1">&#39;high&#39;</span><span class="p">,</span><span class="ss">:image_style</span> <span class="o">=&gt;</span> <span class="s1">&#39;simply_green&#39;</span><span class="p">)</span> <span class="cp">%&gt;</span><span class="x"></span>
</span></code></pre></td></tr></table></div></figure>


<p>注意，参数是要加上去的。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">$</span><span class="p">(</span><span class="s1">&#39;div.refresh_simple_captcha a&#39;</span><span class="p">).</span><span class="nx">bind</span><span class="p">(</span><span class="s1">&#39;click&#39;</span><span class="p">,</span><span class="kd">function</span><span class="p">(</span><span class="nx">e</span><span class="p">){</span>
</span><span class='line'>  <span class="nx">$</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">&#39;/simple_captcha/update_simple_captcha&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">data</span><span class="p">){</span>
</span><span class='line'>    <span class="nx">$</span><span class="p">(</span><span class="s2">&quot;div#simple_captcha&quot;</span><span class="p">).</span><span class="nx">replaceWith</span><span class="p">(</span><span class="nx">data</span><span class="p">);</span>
</span><span class='line'>  <span class="p">});</span>
</span><span class='line'><span class="p">});</span>
</span></code></pre></td></tr></table></div></figure>


<p>这样就字符就可以改变了。</p>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2014/03/04/create-web-icons/" itemprop="url">Create Web Icons</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/icon/'>icon</a>, <a class='category' href='/blog/categories/web/'>web</a>


</div>
		<div class="date">







  


<time datetime="2014-03-04T00:00:00+08:00" data-updated="true" itemprop="datePublished">2014-03-04</time></div>

		
			<span class="comments"><a href="/blog/2014/03/04/create-web-icons/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<p>不得不说，网络型图标给予我们很多方便。其中，提供的图标可以利用css修改样式，而不是如png图片那样。</p>

<p>其中，bootstrap就为我们提供了不少的图标，但是我们有时刚不得不自定义些图标。那么，如何创建此类图标呢，下面是我的制作过程。</p>

<h3>一、创建SVG图标文件</h3>

<p>相信，此应该难不倒多数的设计师。对于设计，我是菜菜，由于我使用ubuntu的原因，我使用的是inkscape。</p>

<p>我的设计过程，也挺简单的。利用已有的图标，并在其基础上做出修改。</p>

<h3>二、上传到Web App的网站</h3>

<p>这类Web Font 网站提供了，很方便的工具，如 Fontello 、 IcoMoon 、Flaticon 。我使用的是Fontello。</p>

<p>将设计好的图标直接拖拉上页面，即可。</p>

<p>当出现“非单一路径”的问题时，需要重新修改一下图标。我就出现此情况，解决方法：</p>

<ol>
<li>拆分组合（如果有的话），保证单独的个体</li>
<li>再对各个单独的个体做转化（对象转为路径、轮廓转为路径）</li>
<li>使用「粘贴」「合并」，将多个路径合并了一个</li>
<li>保存</li>
</ol>


<p>然后选择所有上传的图标，注意页面显示的图标与你设计的是否一样，没问题后，点击下载。</p>

<h3>三、添加进程序</h3>

<p>参考 fontello.css 的路径，将 font 文件夹放到合适的地方。不考虑ie的话，可以只需要直接使用fontello-embeded.css文件。</p>

<p>最后，就可以如用 fontawsome 一样使用图标了。</p>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2013/12/31/clone-an-object-in-jquery/" itemprop="url">Clone an Object in jQuery</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/clone/'>clone</a>, <a class='category' href='/blog/categories/jquery/'>jquery</a>, <a class='category' href='/blog/categories/object/'>object</a>


</div>
		<div class="date">







  


<time datetime="2013-12-31T00:00:00+08:00" data-updated="true" itemprop="datePublished">2013-12-31</time></div>

		
			<span class="comments"><a href="/blog/2013/12/31/clone-an-object-in-jquery/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<p>大许多的编辑语言中，数组和对象通常为了节省内存，调用时，其内部机制会使用引用，而不是另外建立数组或者对象。JS也有这一问题，但实际操作中，有时我们真正想要的真正的复制对象（深度复制）。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="kd">var</span> <span class="nx">obj</span> <span class="o">=</span> <span class="p">{</span><span class="nx">name</span><span class="o">:</span> <span class="s1">&#39;lisi&#39;</span><span class="p">,</span> <span class="nx">age</span><span class="o">:</span> <span class="mi">22</span><span class="p">};</span>
</span><span class='line'><span class="kd">var</span> <span class="nx">newObj</span> <span class="o">=</span> <span class="nx">obj</span><span class="p">;</span>
</span><span class='line'>
</span><span class='line'><span class="nx">newObj</span><span class="p">.</span><span class="nx">name</span> <span class="o">=</span> <span class="s1">&#39;zhangsan&#39;</span><span class="p">;</span>
</span><span class='line'><span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">obj</span><span class="p">.</span><span class="nx">name</span><span class="p">);</span>  <span class="err">#</span> <span class="nx">zhangsan</span>
</span></code></pre></td></tr></table></div></figure>


<p>利用jQuery复制整个对象，<a href="http://stackoverflow.com/questions/122102/most-efficient-way-to-clone-an-object">stackoverflow</a></p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="kd">var</span> <span class="nx">obj</span> <span class="o">=</span> <span class="p">{</span><span class="nx">name</span><span class="o">:</span> <span class="s1">&#39;lisi&#39;</span><span class="p">,</span> <span class="nx">age</span><span class="o">:</span> <span class="mi">22</span><span class="p">};</span>
</span><span class='line'><span class="kd">var</span> <span class="nx">newObj1</span> <span class="o">=</span> <span class="nx">$</span><span class="p">.</span><span class="nx">extend</span><span class="p">(</span><span class="kc">true</span><span class="p">,</span> <span class="p">{},</span> <span class="nx">obj</span><span class="p">);</span>
</span><span class='line'>
</span><span class='line'><span class="nx">newObj1</span><span class="p">.</span><span class="nx">name</span> <span class="o">=</span> <span class="s1">&#39;zhangsan&#39;</span><span class="p">;</span>
</span><span class='line'><span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">obj</span><span class="p">.</span><span class="nx">name</span><span class="p">);</span>  <span class="err">#</span> <span class="nx">lisi</span>
</span></code></pre></td></tr></table></div></figure>


<p>在这个例子中，其实用</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="kd">var</span> <span class="nx">newObj2</span> <span class="o">=</span> <span class="nx">$</span><span class="p">.</span><span class="nx">extend</span><span class="p">({},</span> <span class="nx">obj</span><span class="p">);</span>
</span></code></pre></td></tr></table></div></figure>


<p>也是可以的。但是，对于多层属性时，需要参数<code>true</code>。</p>

<blockquote><p>However, by passing true for the first function argument, objects will be recursively merged.</p></blockquote>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2013/12/30/show-and-hide-element-in-angularjs/" itemprop="url">Show and Hide Element in Angularjs</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>angularjs</a>, <a class='category' href='/blog/categories/hide/'>hide</a>, <a class='category' href='/blog/categories/mouseenter/'>mouseenter</a>, <a class='category' href='/blog/categories/mouseleave/'>mouseleave</a>, <a class='category' href='/blog/categories/show/'>show</a>


</div>
		<div class="date">







  


<time datetime="2013-12-30T00:00:00+08:00" data-updated="true" itemprop="datePublished">2013-12-30</time></div>

		
			<span class="comments"><a href="/blog/2013/12/30/show-and-hide-element-in-angularjs/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<p>由于是开始接触angularjs，所以很多效果都是用jquery/js的思维去做的，但是angularjs是不提倡直接操作dom元素的。这一直很让我纠结，慢慢去修正吧。</p>

<p>相信，显示与隐藏是十分常见的功能／效果。刚开始，我是用jquery去实现，</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">$</span><span class="p">(</span><span class="s1">&#39;.ele&#39;</span><span class="p">)</span>
</span><span class='line'>  <span class="p">.</span><span class="nx">mouseenter</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span>
</span><span class='line'>    <span class="nx">$</span><span class="p">(</span><span class="k">this</span><span class="p">).</span><span class="nx">find</span><span class="p">(</span><span class="s1">&#39;.text&#39;</span><span class="p">).</span><span class="nx">show</span><span class="p">();</span>
</span><span class='line'>  <span class="p">})</span>
</span><span class='line'>  <span class="p">.</span><span class="nx">mouseleave</span><span class="p">(</span><span class="kd">function</span><span class="p">(){</span>
</span><span class='line'>    <span class="nx">$</span><span class="p">(</span><span class="k">this</span><span class="p">).</span><span class="nx">find</span><span class="p">(</span><span class="s1">&#39;.text&#39;</span><span class="p">).</span><span class="nx">hide</span><span class="p">();</span>
</span><span class='line'>  <span class="p">});</span>
</span></code></pre></td></tr></table></div></figure>


<p>但是这就直接操作dom了，怎么避免这些不好的操作呢，就要使用angular提供的或者自己编写的directives。</p>

<p>从<a href="http://docs.angularjs.org/api/ng.directive">官网</a>页面中可以找到相关的directives：<code>ngHide</code>、<code>ngShow</code>、<code>ngMouseenter</code>、<code>ngMouseleave</code>。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
</pre></td><td class='code'><pre><code class='haml'><span class='line'><span class="nt">%a</span>( <span class="na">ng-repeat=</span><span class="s">&quot;item in items&quot;</span>
</span><span class='line'>    <span class="na">ng-mouseenter=</span><span class="s">&quot;hover(item)&quot;</span>
</span><span class='line'>    <span class="na">ng-mouseleave=</span><span class="s">&quot;hover(item)&quot;</span>
</span><span class='line'>  )
</span><span class='line'>  <span class="nt">%img</span>(<span class="na">ng-src=</span><span class="s">&quot;...&quot;</span>)
</span><span class='line'>  <span class="nc">.text</span>(<span class="na">ng-show=</span><span class="s">&quot;item.show&quot;</span>)
</span><span class='line'>    <span class="nt">%span</span> item.name
</span></code></pre></td></tr></table></div></figure>




<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">app</span><span class="p">.</span><span class="nx">controller</span><span class="p">(</span><span class="s1">&#39;indexCtrl&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;$scope&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">$scope</span><span class="p">){</span>
</span><span class='line'>  <span class="nx">$scope</span><span class="p">.</span><span class="nx">items</span> <span class="o">=</span> <span class="p">[</span>
</span><span class='line'>    <span class="p">{</span>
</span><span class='line'>      <span class="nx">name</span><span class="o">:</span> <span class="s1">&#39;..&#39;</span>
</span><span class='line'>    <span class="p">}</span>
</span><span class='line'>    <span class="p">,{</span>
</span><span class='line'>      <span class="nx">name</span><span class="o">:</span> <span class="s1">&#39;....&#39;</span>
</span><span class='line'>    <span class="p">}</span>
</span><span class='line'>  <span class="p">];</span>
</span><span class='line'>
</span><span class='line'>  <span class="nx">$scope</span><span class="p">.</span><span class="nx">hover</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">item</span><span class="p">){</span>
</span><span class='line'>    <span class="nx">item</span><span class="p">.</span><span class="nx">show</span> <span class="o">=</span> <span class="o">!</span><span class="nx">item</span><span class="p">.</span><span class="nx">show</span><span class="p">;</span>
</span><span class='line'>  <span class="p">};</span>
</span><span class='line'>
</span><span class='line'><span class="p">}]);</span>
</span></code></pre></td></tr></table></div></figure>


<p>效果是，默认的文字名称是隐藏的，因为开始时<code>item.show</code>是没有设置的，为false。
当鼠标移进移出时，会触发<code>hover</code>方法 ，修改相应<code>item.show</code>的值。</p>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2013/12/21/ngrepeat-with-ngmodel-in-radiobtn/" itemprop="url">ngRepeat With ngModel in RadioBtn</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>angularjs</a>, <a class='category' href='/blog/categories/ngmodel/'>ngmodel</a>, <a class='category' href='/blog/categories/ngrepeat/'>ngrepeat</a>


</div>
		<div class="date">







  


<time datetime="2013-12-21T00:00:00+08:00" data-updated="true" itemprop="datePublished">2013-12-21</time></div>

		
			<span class="comments"><a href="/blog/2013/12/21/ngrepeat-with-ngmodel-in-radiobtn/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<p>相信大家开始接触<code>ng-repeat</code>时，很容易就明白了以下代码的作用：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='haml'><span class='line'><span class="nt">%li</span>(<span class="na">ng-repeat=</span><span class="s">&quot;item in items&quot;</span>)
</span><span class='line'>  <span class="nt">%span</span> 
</span></code></pre></td></tr></table></div></figure>


<p>那么，当<code>ng-repeat</code>和<code>ng-model</code>结合起来呢：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='haml'><span class='line'><span class="nt">%li</span>(<span class="na">ng-repeat=</span><span class="s">&quot;item in items&quot;</span>)
</span><span class='line'>  <span class="nt">%input</span>(<span class="na">type=</span><span class="s">&quot;radio&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;select_item&quot;</span> <span class="na">value=</span><span class="s">&quot;&quot;</span>)
</span><span class='line'>
</span><span class='line'><span class="nt">%input</span>(<span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;select_item&quot;</span>)
</span></code></pre></td></tr></table></div></figure>


<p>从代码上看，多个RadioBtn分在同一组，然后显示选择项的值。但是，这在实际操作中是不行的。</p>

<blockquote><p>The ngRepeat directive instantiates a template once per item from a collection. <strong>Each template instance gets its own scope</strong>, where the given loop variable is set to the current collection item, and $index is set to the item index or key.</p></blockquote>

<p><code>ng-repeat</code>会为每个实例产生自己的作用域。也就是说，<code>ng-model="select_item"</code>与<code>items</code>不是同一作用层级的；而相似的，<code>ng-model="select_item"</code>和<code>value="select_item"</code>是同一作用层级的。所以，<code>value="select_item"</code>并不能正常访问<code>ng-model="select_item"</code>中的变化值，需要将<code>ng-model</code>提升层级，</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='haml'><span class='line'><span class="nt">%li</span>(<span class="na">ng-repeat=</span><span class="s">&quot;item in items&quot;</span>)
</span><span class='line'>  <span class="nt">%input</span>(<span class="na">type=</span><span class="s">&quot;radio&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;$parent.select_item&quot;</span> <span class="na">name=</span><span class="s">&quot;item&quot;</span> <span class="na">value=</span><span class="s">&quot;&quot;</span>)
</span><span class='line'>
</span><span class='line'><span class="nt">%input</span>(<span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">value=</span><span class="s">&quot;select_item&quot;</span>)
</span></code></pre></td></tr></table></div></figure>


		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2013/12/19/modified-greyshade-theme-to-my-pages/" itemprop="url">Modified Greyshade Theme to My Pages</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/greyshade/'>greyshade</a>, <a class='category' href='/blog/categories/pages/'>pages</a>, <a class='category' href='/blog/categories/theme/'>theme</a>


</div>
		<div class="date">







  


<time datetime="2013-12-19T00:00:00+08:00" data-updated="true" itemprop="datePublished">2013-12-19</time></div>

		
			<span class="comments"><a href="/blog/2013/12/19/modified-greyshade-theme-to-my-pages/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<p>好久没有写文章了，在这里，更甚。</p>

<p>不知道为不什么，今天突然想起是折腾一下自己的博客。好吧，自从 writing.io 声明关闭之后，站主谈到的<code>我们都是在重复造轮子</code>，确实是。</p>

<p>年初折腾的博客网站，基本只有我一个人。没有任何的访问量，真心没有什么念头。生活的种种，又没有空去打理些什么，可能以后得慢慢回归 pages.github.com 了。</p>

<p><a href="https://github.com/shashankmehta/greyshade">Greyshade</a> 也是修改别人的，在它的基础上，再做了些修改。反正，在我这里，有许多样式都觉得有问题。</p>

<p>修改的部分包括：</p>

<ul>
<li>.left-col</li>
<li>article header h1</li>
<li>.archives article time, tags</li>
<li>&#8230;</li>
</ul>


<p>发现问题，以后再继续吧。</p>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2013/11/26/two-pictures-with-Inkscape/" itemprop="url">使用了 Inkscape 画了两张图</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/design/'>design</a>, <a class='category' href='/blog/categories/inkscape/'>inkscape</a>


</div>
		<div class="date">







  


<time datetime="2013-11-26T00:00:00+08:00" data-updated="true" itemprop="datePublished">2013-11-26</time></div>

		
			<span class="comments"><a href="/blog/2013/11/26/two-pictures-with-Inkscape/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<h2>使用了 Inkscape 画了两张图</h2>

<p>作为编程的人员来说，视觉设计很可能会很勉强，我也不例外。更多时候，我的视觉设计基本是利用前端框架，呵呵。
我试图改变，于是，贴上两张图&#8230;</p>

<p>不得不承认，虽然自己常常以文艺青年自居，但是，更多时候，只能算是普通青年与2B青年之间。</p>

<p>角落的吉他，已经忘却了声音，却尘法饱满；柜上的四五本图书，痕迹永远的是前面几页；甚至，还有《秘密》《秘密2》&#8230;</p>

<p>想拾起些什么，却又不能回答丢了些什么&#8230;</p>

<p>打住！</p>

<p>说说，页面设计。AI，相信是大多数设计师使用的工具吧，然而，在 Ubuntu 中，我使用了 Inkscape。</p>

<p>自己凭空，想象、猜想、臆测&#8230;</p>

<p>结果，得出的视觉效果，连自己都不能容忍。不得不从 <a href="http://dribbble.com">Dribbble</a> 上找图，自己在 Inkscape 上画。</p>

<p>所以，我说，我画了「两张图」，而不是设计！</p>

<h3>Blog Design</h3>

<p>参照别人的成果，画出来的。</p>

<p><img src="/images/photo/blog-1.png" alt="blog-1.png" /></p>

<h3>CMS</h3>

<p>参照别人的成果，画出来的。</p>

<p><img src="/images/photo/cms-1.png" alt="cms-1.png" /></p>

<p>工具，永远要记住的是其性质，它就是用来用的。由于很长时间，没有用画图相关的工具了，手不由得变得生疏。圈圈点点的东西，很多。</p>

<p>记得之前选修课时，学过很多的工具，当时学得还蛮好的。但是，岁月怎么看都是刀，一片片刮下的，永远都只会沉下深海。</p>

<p>画这两张图时，我更多的体会是：要先有内容。没有内容，感觉就是一张大白纸，很难凭空去设计些什么，就如刚开始的样子。或者说，自己至少在心里，确定设计的目的是什么，有什么作用。不能简单的以为，自己可以设计好框架，任何人可以往里面加内容，如何如何的&#8230;</p>

<p>希望自己更文艺些，不想太被快节奏的物质生活所左右，或者&#8230;</p>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2013/11/26/CSS-Position/" itemprop="url">CSS Position</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/css/'>css</a>, <a class='category' href='/blog/categories/position/'>position</a>


</div>
		<div class="date">







  


<time datetime="2013-11-26T00:00:00+08:00" data-updated="true" itemprop="datePublished">2013-11-26</time></div>

		
			<span class="comments"><a href="/blog/2013/11/26/CSS-Position/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<p>最近，遇到一个问题，不同的浏览器之间对定位展现出来的页面效果不一样，甚至同是chrome，但是window和*nix的都不一样。</p>

<p>比如：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
</pre></td><td class='code'><pre><code class='css'><span class='line'><span class="err">#</span> <span class="nt">css</span> <span class="nt">file</span>
</span><span class='line'>
</span><span class='line'><span class="nc">.cont</span> <span class="p">{</span>
</span><span class='line'>  <span class="k">position</span><span class="o">:</span> <span class="k">relative</span><span class="p">;</span>
</span><span class='line'>  <span class="k">top</span><span class="o">:</span> <span class="m">-6px</span><span class="p">;</span>
</span><span class='line'><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure>


<p>这是简单的相对定位代码，绝对定位就更不好说了，可能出现的问题就更多了。绝对定位更多使用在如左边的导航操作区。对于不同浏览器之间的效果差别，我在这就不好贴出来了。</p>

<p>通过我的试验，感觉定位基本都可以用另外的方法替代。可简单由<code>float</code>、<code>margin</code>、<code>padding</code>构成：</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
</pre></td><td class='code'><pre><code class='css'><span class='line'><span class="nc">.cont</span> <span class="p">{</span>
</span><span class='line'>  <span class="k">float</span><span class="o">:</span> <span class="k">right</span><span class="o">:</span>
</span><span class='line'>  <span class="k">padding-right</span><span class="o">:</span> <span class="m">10px</span><span class="p">;</span>
</span><span class='line'>  <span class="o">...</span>
</span><span class='line'><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure>


<p>有时会不得不用到 margin，不过在我记忆中，好像不同的浏览器中初始值也不一样，此知识点的来源是找不到了。我潜意识里能不用则不用。</p>

<p>听同事说，定位比一般样式要耗资源，是不是呢！！</p>

<hr />

<p>最近看到一个不同浏览器内核不同的代码，如<code>webkit</code>:</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
</pre></td><td class='code'><pre><code class='css'><span class='line'><span class="k">@media</span> <span class="nt">screen</span> <span class="nt">and</span> <span class="o">(</span><span class="nt">-webkit-min-device-pixel-ratio</span><span class="nd">:0</span><span class="o">)</span> <span class="p">{</span>
</span><span class='line'>  <span class="o">...</span>
</span><span class='line'><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure>


<p>更多不同浏览器差别及相应的语法技巧，可以转到 <a href="http://browserhacks.com">browserhacks</a>，对于调试浏览器的兼容性的开发者来说是十分有益的。可恶的浏览器之争，一家独大，对于开发者来说也不见得是坏事。</p>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	
	<h1 class="title" itemprop="name"><a href="/blog/2013/10/23/tx-te-gong-1/" itemprop="url">Tx特工第一季</a></h1>
	<div class="meta">
		<div class="tags">


	<a class='category' href='/blog/categories/tx/'>tx</a>, <a class='category' href='/blog/categories/te-gong/'>特工</a>


</div>
		<div class="date">







  


<time datetime="2013-10-23T00:00:00+08:00" data-updated="true" itemprop="datePublished">2013-10-23</time></div>

		
			<span class="comments"><a href="/blog/2013/10/23/tx-te-gong-1/#disqus_thread">Comments</a></span>
		
	</div>
	<div class="entry-content" itemprop="articleBody">
		<p>从腾讯招聘微信看到的：http://codestar.alloyteam.com/1/1 ，有些意思。我的过程无厘头。</p>

<h3>1/1</h3>

<p>这一关的输入名字与邮箱。想当然地，很简单了。但是，输入相关项后，居然还是不能进入。这也是特工任务－－走后门？tx提倡走后门吗，节操何在？</p>

<p>抓包？Firefox 用户的优势体现出来了，firebug或者自带控制台的也行。请求信息中，会返回错误，其中提示没有timestamps。</p>

<p>好吧，从命令行中，敲入并执行：</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>$('input[name=timestamps]').value=(new Date()).valueOf()</span></code></pre></td></tr></table></div></figure>


<p>OK，点击「打开」吧。</p>

<h3>1/2</h3>

<p>这个画企鹅的事，我从来没有想过。关于这自栩的事，好吧，不说了。</p>

<p>但是题目让我迷惑了很久！</p>

<p>第一个题目还简单：</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>border-radius: 50%;</span></code></pre></td></tr></table></div></figure>


<p>第二个我实在想了好久，真心的。一直找到 <code>border-corner-shape</code>这一属性，其中还看到http://lea.verou.me/2013/03/border-corner-shape-is-in-danger-and-you-can-help/ 。但结果还是不出来，可能是firefox不支持，或者是tx的js测试响应程序不支持？</p>

<p>没办法，只能看看页面了。幸运的是，页面的注释中有，</p>

<blockquote><p>可参考 http://www.alloyteam.com/2012/10/css3-draw-qq-logo/</p></blockquote>

<p>看了里面的方法，思想开朗了。之前的css运用中，一直没有注意啊，border 还有这一模型：</p>

<p><img src="http://octoper.com/photo/050faa5d8d3076e62f079f9c2dcd4dbb/border.png" alt="border.png" /></p>

<p>代码：</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>  border-top: 20px solid transparent;
</span><span class='line'>  border-bottom: 20px solid transparent;
</span><span class='line'>  transform-origin: top right;
</span><span class='line'>  transform: rotate(-60deg);
</span><span class='line'>  -webkit-transform: rotate(-60deg);
</span><span class='line'>
</span><span class='line'>  ...</span></code></pre></td></tr></table></div></figure>


<p>http://jsfiddle.net/shatle/fgLLS/</p>

<h3>1/3</h3>

<p>这个吧，实在没心思和时间看API文档，直接收藏了牛人的代码，然后「开战」&#8230;</p>

<h3>1/4</h3>

<p><strong>第一灯</strong>，数组克隆：</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>var clone = function(arr){
</span><span class='line'>return arr.slice(0);
</span><span class='line'>}</span></code></pre></td></tr></table></div></figure>


<p><strong>二灯</strong>，字符串去前后空格trim：</p>

<p>开始想偷工减料的：</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>str.ltrim().rtrim();</span></code></pre></td></tr></table></div></figure>


<p>但是不行啊，后来是：</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');</span></code></pre></td></tr></table></div></figure>


<p>不过，这个应该也行</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>str.replace(/^\s+|\s+$/g,'');</span></code></pre></td></tr></table></div></figure>


<p><strong>三灯</strong>，NodeList to Array：</p>

<figure class='code'><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class=''><span class='line'>Array.prototype.slice.call(list);</span></code></pre></td></tr></table></div></figure>


<h2>1/5</h2>

<p>找出数字和为最大的路径。其实我是看感觉点的，基本的思路是：首先，从底往上，找出每行的最大数的方位；从上往下，预估两三行吧，差不多的，然后就过了。</p>

		
		
	</div>

</article>

</div>
<nav id="pagenavi">
    
    	
    		<a href="page3" class="prev">上一页</a>
    	

    
    
        <a href="page5" class="next">下一页</a>
    
    <div class="center"><a href="/blog/archives">Archives</a></div>
</nav>
</div>
			</div>
			<footer id="footer" class="inner">Copyright &copy; 2025

    liu.shatle &hearts; gmail.com


Design credit: <a href="http://shashankmehta.in/archive/2012/greyshade.html">Shashank Mehta</a></footer>
		</div>
	</div>
	

<script type="text/javascript">
      var disqus_shortname = 'shatleblog';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>










</body>
</html>
